<div>
    <form action="/api/users" enctype="multipart/form-data" method="post">
        <div>
            <label>Nombre</label>
            <imput name="first_name" id="first_name"></imput>
        </div>
        <div>
            <label>Apellido</label>
            <imput name="last_name" id="last_name"></imput>
        </div>
        <div>
            <label>Correo</label>
            <imput name="email" id="email"></imput>
        </div>
         <div>
            <label>Imagen</label>
            <imput type="file" name="thumbnail"></imput>
        </div>
        <imput type="submit" value="submit" ></imput>
    </form>
</div>